.app {
    text-align: center;
    margin: 20px;
    --gaps: 1px;
    --cell-width: 75px;
    font-family: sans-serif;
}

.board-keyboard-container {
    display: inline-block;
}

.keyboard {
    float: left;
    display: grid;
    padding-left: 40px;
    grid-template-columns: repeat(3, 70px);
    row-gap: 10px;
    column-gap: 10px;
    /* background-color: #f8cd05; */
}

.sudoku-board {
    float: left;
    width: 690px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--gaps);
    line-height: var(--cell-width);
    text-align: center;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    background-color: black;
    overflow: hidden;
}

div.cell {
    width: var(--cell-width);
    height: var(--cell-width);
    outline: 1px solid black;
    font-size: 40px;
    font-weight: 800;
    float: left;
    background-color: white;
}

div[class*="candidate-container"] {
    display: none;
}

div[class*="tile-start"] {
    /* background-color: bisque; */
    background-color: rgb(208, 204, 204);
}

div[class*="selected"] {
    /* outline: none; */
    background-color: #f8cd05;
}

div[class*="conflict"] {
    color: rgb(237, 62, 62);
    animation: 0.5s fade-in;
}

div.spacer {
    height: 5px;
}

.delete-button {
    width: 100%;
    height: 60px;
    margin-top: 5px;
    font-size: 2em;
    grid-column: span 3;
}

.entry-subscript {
    font-size: 12px;
}

.subscript-circle {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    bottom: 20px;
    left: 50px;
}

button {
    width: 60px;
    height: 60px;
    font-size: 24px;
}

/* button[number="1"] {
    background-color: red;
} */
.candidate-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: bisque;
    line-height: 22px;
}

.a {
    width: 300px;
    /* height: 70px; */
    grid-template-columns: 1fr 1fr;
    display: flex;
    padding-bottom: 10px;
    padding-left: 5px;
}
.buttons-keyboard-container {
    float: left;
    width: 700px;
    /* background: blueviolet; */ 
}

.normal-button,
.candidate-button {
    width: 120px;
    height: 35px;
    margin: 0 auto;
    display: inline;
    font-size: 14px;
}

.normal-button {
    background: black;
    color: white;
}
.candidate-button {
    background: white;
    color: black;
}

@keyframes fade-in {
    0% { opacity: 0;}
    100% {opacity: 1;}
}