.app {
    text-align: center;
    margin: 20px;
    --gaps: 1px;
    --cell-width: 70px;
}

.board-keyboard-container {
    display: inline-block;
}

button {
    width: 60px;
    height: 60px;
    font-size: 24px;
}

.keyboard {
    float: left;
    display: grid;
    padding-left: 40px;
    grid-template-columns: repeat(3, 70px);
    row-gap: 10px;
    column-gap: 10px;
}

.sudoku-board {
    float: left;
    width: 646px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--gaps);
    line-height: var(--cell-width);
    text-align: center;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    background-color: black;
    overflow: hidden;
}

div.cell {
    width: var(--cell-width);
    height: var(--cell-width);
    outline: 1px solid black;
    font-size: 28px;
    font-weight: 600;
    float: left;
    background-color: white;
}

div[class*="tile-start"] {
    /* background-color: bisque; */
    background-color: rgb(208, 204, 204);
}

div[class*="selected"] {
    /* outline: none; */
    background-color: antiquewhite;
}

div[class*="conflict"] {
    /* background-color: rgb(246, 204, 204); */
    color: rgb(237, 62, 62);
}

div.spacer {
    height: 4px;
}

.delete-button {
    width: 100%;
    height: 60px;
    margin-top: 5px;
    font-size: 2em;
    grid-column: span 3;
}

.entry-subscript {
    font-size: 12px;
}

.subscript-circle {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    bottom: 20px;
    left: 50px;
}
